body {
	background-color: #000;
}

.window {
	width: 450px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	text-align: center;
}

.image-container {
	width: 2250px;
	height: 300px;
	position: relative;
	transition: left 2s;
	-webkit-transition: left 2s;
	-moz-transition: left 2s;
	-o-transition: left 2s;
}

.slide {
	float: left;
	margin: 0;
	padding: 0;
}

.button-container {
	top: -20px;
	position: relative;
}

.slider-button {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: #fff;
}

#slide-1:target ~ .image-container {
	left: 0;
}

#slide-2:target ~ .image-container {
	left: -450px;
}

#slide-3:target ~ .image-container {
	left: -900px;
}

#slide-4:target ~ .image-container {
	left: -1350px;
}

#slide-5:target ~ .image-container {
	left: -1800px;
}